@media screen and (max-width: 1024px){
//HEADER
    .header__search{
        margin-bottom: 20px;
        .form-inline{
            width: 320PX;
            display: flex;
            flex-wrap: nowrap;
            .form-control{
                width: 320px;
            }
        }
    }
    
//NAV    
    .btn-group{
        .btn-secondary{
            width: 129px;
        }
        .moda{
             width: 180px;   
        }
    }

//SECTION
    .carousel{
        width: 500px;
    }

    .container_section{
        background-color: red;
        width: 80% !important;
        margin: 0px 66.5px !important;
        .container__articles{
            margin-left: 0px;
            background-color: royalblue;
            grid-area: articles;
        }

        .container__lateral{
            grid-area: lateral;
            background-color: saddlebrown;
        }
    }
}