@media screen and (max-width: 1024px){
//HEADER
    .header__search{
        margin-bottom: 20px;
        .form-inline{
            width: 320PX;
            display: flex;
            flex-wrap: nowrap;
            .form-control{
                width: 320px;
            }
        }
    }
    
//NAV    
    .btn-group{
        .btn-secondary{
            width: 129px;
            font-size: 10pt;
        }
        .moda{
             width: 180px;   
        }
    }

//NAV PAGES
    .btn-group-pages{
        .btn-secondary{
            width: 139px;
            font-size: 10pt;
            margin: 2px;
        }
        .moda{
            text-align: left;
            width: 160px;
        }
    }   

// MENÚ DE PAGINAS
    .container__submenu--paginas{
        display: flex;
        flex-wrap: wrap;

        .btn-outline-dark{
            height: 35px;
        }
    }
     

//SECTION
    .carousel{
        width: 500px;
    }

    .container_section{
        // background-color: red;
        width: 93% !important;
        margin: 0px 66.5px !important;
    }

    .container__psection{
        width: 274px !important;
    }
    
    .telegram{
        display: none;
    }

// ARTICULOS PAGES
    .container__articles--pages{
        width: 90%;
        margin: 0px auto !important;
        .container__articles--card{
            margin-right: -55px;
            padding: 0px;
            justify-content: space-evenly;
            .aticles-card{
                width: 220px !important;
                height: 380px;
            }
        }
        //deportes
        .telegram-deportes{
            width: 669px;
        }
        
    }
    

//FOOTER
    footer{
        margin-top: -1px;
        margin-bottom: -16px;
        .footer-psection{
            img{
                width: 95px;
                height: 68px;
                padding-top: 27px;
            }
            .footer-psection-1{
                h6{
                    padding-top: 21px;
                    font-size: 12pt;
                }
            }
        }
        .footer{
            margin-left: 0;
            margin: 0px auto;
        }
        .footer-psection-2{
            p{
                font-size: 12pt !important;
                margin-top: 5px;
                text-align: justify;
                padding-bottom: 5px;
            }
        }
        
    }

    //FOOTER PAGES (ELECTRÓNICA Y GAMING)
    footer{
        .footer-pages{
            margin-top: 100px;
            padding-bottom: 15px;
            padding-top: 10px;
        }
    }
    
}

@media screen and (max-width: 768px){
//HEADER    
    .header{
        .header__redes{
            display: none;
        }
    }
//NAV    
.btn-group{
    display: flex;
    flex-wrap: wrap;
    height: 95px;
    .btn-secondary{
        width: 129px;
    }
    .moda{
         width: 180px;   
    }
}

//MENU-PAGES
.btn-group-pages{
    display: none;
}

.breadcrumb{
    background-color: #1D1F20;
    margin-top: -1px;
    margin-bottom: -1px;
}

//SECTION
.carousel{
    width: 400px;
    height: 200px;

    img{
        width: 400px;
        height: 200px;
    }
}

.bd-highlight{
    width: 100% !important;
    h1{
        font-size: 20pt !important;
        margin: 0px auto;
    }
}

.container_section{
    width: 100% !important;
    margin: 0px auto !important;
    display: flex;
    flex-direction: column;
}
.container__psection{
    display: none;
}
.destacados{
    display: none;
}
.container__articles{
    margin: 3px auto !important;
}

//SECTION-PAGES
.container__articles--pages{
    width: 90%;
    margin: 0px auto !important;
    .container__articles--card{
        margin-right: 2px;
        padding: 0px;
        justify-content: space-evenly;
        .aticles-card{
            width: 220px !important;
            height: 380px;
            }
        }
    .container__lateral{
        display: none;
    }
}

//FOOTER
footer{
    margin-top: -1px;
    margin-bottom: -16px;
    .footer-psection{
        img{
            width: 80px;
            height: 68px;
            padding-top: 20px;
        }
        .footer-psection-1{
            h6{
                padding-top: 20px;
                font-size: 10pt;
            }
        }
    }
    .footer{
        margin-left: 0;
        margin: 0px auto;
        h3{
            font-size: 10pt;
        }
        .footer-browsers{
            img{
                width: 35px;
            }
        }
    }
    .footer-psection-2{
        p{
            font-size: 10pt !important;
            margin-top: 5px;
            text-align: justify;
            padding-bottom: 15px;
        }
    }
    .footer-end{
        p{
            font-size: 10pt;
        }
    }
}
//pagina-error{
    .error__mesage--container{
        img{
            width: 500px;
        }  
    }
    .Footer__Error404{
        font-size: 11pt;
    }  
    
}

@media screen and (max-width: 425px){    
    //HEADER    
    .header{
        height: 90px;
        .header__logo{
            margin: 0px auto;
            img{
                margin: -47px 15px;
            }
        }
        .header__redes{
            display: none;
        }
        .header__search{
            display: none;
        }
    }

    //NAV    
    .btn-group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300px;
    .btn-secondary{
        width: 410px;
    }
    .moda{
         width: 410x;   
    }
    }
    //menu pages
        .btn-group-pages{
            display: none;
        }
    
    //Portada-pages
    .seccionPortada__img{
        width: 78px;
        height: 80px;
        
        img{
            width: 50px;
            height: 50px;
            margin: 15px 15px;
        }
    }

    //SECTION
    .carousel{
        width: 350px;
        height: 200px;
            
        img{
            width: 350px;
            height: 200px;
        }
    }
    .container__articles{
        width: 100% !important;
        margin: 0px auto;
    }
    .col-md-4{
        height: 150px;
        img{
            width: 70% !important;
            height: 70% !important;
        }
    }
    .card{
        width: 400px;
        height: 420px;
        margin: 0px auto;
    }
    .card-body{
        margin-bottom: 7px;
        height: 270px;
    }
    .card-title-articles{
        font-size: 12pt;
    }
    .col-md-8{
        .btn{
          width: 100%;  
        }  
    } 
    //card-pages
    .container__articles--pages{
        width: 90%;
        margin: 0px auto !important;
        .container__articles--card{

            .aticles-card{
                width: 400px !important;
                height: 320px;
                .reducir-paddign{
                    height: 20px;
                }
                }
            }
        .container__lateral{
            display: none;
        }
        .telegram-deportes{
            width: 400px;
            .col-md-4{
                img{
                    width: 100px !important;
                    height: 100px !important;
                }
            }
            
        }
    }

    .container__articles--card {
        .boton-article{
            width: 359px;
        }
    }

    footer{
        margin-top: -1px;
        margin-bottom: -16px;
        .footer-psection{
            height: 187px;
            display: flex;
            justify-content: flex-start;
            width: 424px;
            img{
                width: 80px;
                height: 68px;
                padding-top: 21px;
                margin-left: -158px;
            }
            .footer-psection-1{
                h6{
                    padding-top: 20px;
                    font-size: 10pt;
                }
            }
        }
        .footer{
            margin-left: 0;
            margin: 0px auto;
            h3{
                font-size: 12pt !important;
            }
            img{
                width: 30px;
            }
        }
        .footer-psection-2{
            p{
                font-size: 10pt !important;
                margin-top: 5px;
                text-align: justify;
                padding-bottom: 15px;
                margin: 0px -115px;
                padding-right: 142px;
            }
        }
        .footer-end{
            p{
                font-size: 10pt;
            }
        }

    }
    
    // footer-pages
    .footer-425px{
        margin-top: 2455px;
        .footer-pages{
            height: 200px;
            padding-top: 0px;
        }
    }
    
    .footer-deportes-425px{
        margin-top: 1900px;
    }

    //pagina-error{
        .error__mesage--container{
            img{
                width: 350px;
            }  
        } 
        .Footer__Error404{
            font-size: 10pt;
        }

}

@media screen and (max-width: 375px){    
    //HEADER    
    .header{
        height: 90px;
        .header__logo{
            margin: 0px auto;
            img{
                margin: -47px 15px;
            }
        }
    }
    //NAV    
    .btn-group{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 300px;
        .btn-secondary{
            width: 362px;
        }
    }
        //menu pages
        .btn-group-pages{
            display: none;
        }

    //Portada-pages
    .seccionPortada__img{
        width: 78px;
        height: 80px;
        
        img{
            width: 50px;
            height: 50px;
            margin: 15px 15px;
        }
    }    
    //SECTION
    .carousel{
        width: 300px;
        height: 150px;

        img{
            width: 300px;
            height: 150px;
        }
    }    
        
    .bd-highlight{
        width: 100% !important;
        h1{
            font-size: 17pt !important;
            margin: 0px auto;
            }
    }
    .container__articles{
        width: 100% !important;
        margin: 0px auto;
        height: 2600px;
        }
        .col-md-4{
            height: 150px;
            img{
                width: 70% !important;
                height: 70% !important;
            }
        }
        .card{
            width: 354px;
            height: 420px;
            margin: 0px auto;

            .card-text{
                font-size: 11pt;
            }
            .card__text--telegram{
                font-size: 10pt;
            }
            .btn-adaptador{
                padding-bottom: 0px;
            }
        }
        
        .col-md-8{
            .btn{
            width: 100%;  
        }  
    } 
    //card-pages
    .container__articles--pages{
        width: 90%;
        margin: 0px auto !important;
        .container__articles--card{

            .aticles-card{
                width: 402px !important;
                height: 320px;
                .reducir-paddign{
                    height: 20px;
                }
                }
            }
        .container__lateral{
            display: none;
        }
        .tele-card{
            height: 350px;
        }
        .telegram-deportes{
            width: 355px;
            height: 350px;
            .col-md-4{
                
                img{
                    width: 100px !important;
                    height: 100px !important;
                }
            }
            .boton-article{
                width: 300px;
            }
            
        }
    }

    .container__articles--card {
        .boton-article{
            width: 335px;
        }
    }

    // FOOTER
    footer{
        margin-top: -1px;
        margin-bottom: -16px;
        .footer-psection{
            height: 209px;
            display: flex;
            justify-content: flex-start;
            width: 374px;
            img{
                width: 83px;
                height: 49px;
                padding-top: 8px;
                margin-left: -205px;
            }
            .footer-psection-1{
                h6{
                    padding-top: 6px;
                    font-size: 9pt;
                }
            }
        }
        .footer{
            margin-left: 0;
            margin: 0px auto;
            h3{
                font-size: 12pt !important;
            }
            img{
                width: 30px;
            }
        }
        .footer-psection-2{
            p{
                font-size: 10pt !important;
                margin-top: 5px;
                text-align: justify;
                padding-bottom: 15px;
                margin: 0px -115px;
                padding-right: 190px;
            }
        }
        .footer-end{
            p{
                font-size: 10pt;
            }
        }

    }

    // footer-pages
    .footer-425px{
        margin-top: 1360px;
        .footer-pages{
            height: 200px;
            padding-top: 0px;
            img{
                width: 40px;
                height: 40px;
            }
            .footer-psection-2{
                padding-left: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .footer-deportes-425px{
        margin-top: 750px;
        .footer-pages{
            height: 200px;
            padding-top: 0px;
            img{
                width: 40px;
                height: 40px;
            }
            .footer-psection-2{
                padding-left: 10px;
                padding-bottom: 10px;
            }
        }
    }

        //pagina-error{
            .error__mesage--container{
                img{
                    width: 300px;
                }  
            } 
            .Footer__Error404{
                font-size: 9pt;
            }
}